<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="antxrnature" name="ANTXR Nature" point="org.eclipse.core.resources.natures">
		<runtime><run class="com.javadude.antxr.eclipse.core.AntxrNature"/></runtime>
		<builder id="com.javadude.antxr.eclipse.core.antxrbuilder" /> 
		<builder id="com.javadude.antxr.eclipse.core.smapbuilder" />
		<builder id="com.javadude.antxr.eclipse.core.warningcleanerbuilder" />
	</extension>
	<extension id="antxrbuilder" name="ANTXR Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="com.javadude.antxr.eclipse.core.builder.AntxrBuilder" />
		</builder>
	</extension>
	<extension id="warningcleanerbuilder" name="Warning Cleaner Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="com.javadude.antxr.eclipse.core.builder.WarningCleanerBuilder" />
		</builder>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes type="text" extension="antxr" />
	</extension>
	<extension id="smapbuilder" name="SMap Installation Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="com.javadude.antxr.eclipse.smapinstaller.SMapInstallerBuilder"/>
		</builder>
	</extension>
	<extension-point id="plugin" name="Antxr Plugin" schema="schema/plugin.exsd"/>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes extension="smap" type="text"/>
    </extension>
	<extension id="sourceMapMarker" name="sourceMapMarker" point="org.eclipse.core.resources.markers">
		<persistent value="true"/>
		<attribute name="grammarLine"/>
		<attribute name="generatedLine"/>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image icon="icons/full/ovr16/antxr.gif" id="com.javadude.antxr.eclipse.core.decorator" natureId="com.javadude.antxr.eclipse.core.antxrnature"/>
	</extension>
</plugin>
