<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <factories enableDefault="true">
         <factory class="com.javadude.annotation.processors.BeanAnnotationProcessorFactory" />
         <factory class="com.javadude.annotation.processors.ExtractInterfaceAnnotationProcessorFactory" />
      </factories>
   </extension>
</plugin>
