<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JavaDude"
            id="com.javadude.report.visible.methods">
      </category>
      <view
            name="Report Visible Methods"
            icon="icons/sample.gif"
            category="com.javadude.report.visible.methods"
            class="com.javadude.report.visible.methods.views.ReportVisibleMethodsView"
            id="com.javadude.report.visible.methods.views.ReportVisibleMethodsView">
      </view>
   </extension>

</plugin>
